    <div class="row target-message">
        <div class="col-md-1">
            <img src="{{primary.user.avatar}}" class="img-responsive img-rounded">
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <b>{{primary.user.name}}</b>
                    <span class="timestamp">{{timestampFormat primary.when}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{#if (eq primary.type "join") }}
                    <em>joined {{channel.name}}</em>
                    {{/if}}
                    {{#if (eq primary.type "part") }}
                    <em>left {{channel.name}}</em>
                    {{/if}}
                    {{and_other_events}}
                </div>
            </div>
        </div>
    </div>
